### Code Alongs - Pandas

In [10]:
import pandas as pd

In [11]:
#dict
data = {"INKOP":25, "OPA":29, "JS":27}

series = pd.Series(data)

series

INKOP    25
OPA      29
JS       27
dtype: int64

In [12]:
# indexing using iloc
series.iloc[0], series.iloc[-1]

(25, 27)

In [14]:
series["OPA"]

29

## DataFrames

In [17]:
# df for dataframe
df_programs = pd.DataFrame(series, columns=["Number students"])
df_programs

       Number students
INKOP               25
OPA                 29
JS                  27

In [18]:
df_programs["Number students"]

INKOP    25
OPA      29
JS       27
Name: Number students, dtype: int64