### Code Alongs - Pandas

In [16]:
import pandas as pd

In [17]:
#dict
data = {"INKOP":25, "OPA":29, "JS":27}

series = pd.Series(data)

series

INKOP    25
OPA      29
JS       27
dtype: int64

In [18]:
# indexing using iloc
series.iloc[0], series.iloc[-1]

(25, 27)

In [19]:
series["OPA"]

29

## DataFrames

In [20]:
# df for dataframe
df_programs = pd.DataFrame(series, columns=["Number students"])
df_programs

       Number students
INKOP               25
OPA                 29
JS                  27

In [21]:
df_programs["Number students"]

INKOP    25
OPA      29
JS       27
Name: Number students, dtype: int64

In [31]:
df_programs = pd.DataFrame(
    {"Students": [25,30,30,27], "Language": ["Python", "C#", "Kotlin", "Java"]},
    index=("AI", ".NET", "APP", "Java"),
    )

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [32]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [33]:
df_programs["Language"]

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [34]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [35]:
df_programs["Language"][".NET"]

'C#'

In [37]:
# find all programs with less than 28 students
# mask -> boolean series
df_programs["Students"]<28

AI       True
.NET    False
APP     False
Java     True
Name: Students, dtype: bool

In [38]:
df_programs[df_programs["Students"] < 28]

      Students Language
AI          25   Python
Java        27     Java